body {
  background-color: rgb(231, 229, 229);
}

.visually-hidden {
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
  display: none;
}

.custom-file-input {
  cursor: pointer;
}

.card {
  margin: 20px auto;
}

.alert {
  margin: 0 auto;
  text-align: center;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: 'Загрузить';
}

@media (min-width: 991.98px) {
  #upload-group,
  #upload-group ~ .alert {
    max-width: 65%;
  }

  .card {
    max-width: 80%;
  }
}
